@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
/* variable declaration */
:root {
    --primary: #14a316;
    --light-accent: #15bd18;
    --dark-accent: #0f7a10;
    --red: #ff0000;
    --background: white;
    --light-background: #cdcac7;
    --font-color: black;
    --light-font: #383838;
}

.dark-mode {
    --primary: #0ced6a;
    --light-accent: #68d696;
    --dark-accent: #08a449;
    --red: #ff0000;
    --background: #121212;
    --light-background: #2b2a2a;
    --font-color: white;
    --light-font: #aabbc3;
}

/* main element styling */

body {
    padding: 0;
    background-color: var(--background);
    scroll-behavior: smooth;
    color: var(--font-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: calc(0.75em + 1vmin);
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--dark-accent);
}

.red {
    font-weight: bold;
    color: var(--red);
}

.content {
    padding: 16px;
    padding-bottom: 80px;
}

strong {
    font-weight: bold;
    color: var(--light-accent);
}

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: transparent;
    color: var(--font-color);
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: 0.2s;
    font-size: 17px;
}

button:hover {
    border-color: var(--dark-accent);
}

.upper {
    text-transform: uppercase;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

p, label, li, span, a {
  font-size: 1.15em;
}

hr {
    border: 1px solid var(--light-font);
}

/* navigation bar */

.mobile-nav {
  background: var(--light-background);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navlink {
  float: left;
  display: block;
  text-decoration: underline;
  color: var(--light-font);
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

.navlink:hover {
  color: var(--font-color);
}

/* button for changing mode */

.mode-button {
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

/* form element styling */

input {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--primary);
    background-color: transparent;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    width: 200px;
    margin-bottom: 30px;
    color: var(--font-color);
    text-align: center;
}

input:focus {
    border-color: var(--dark-accent);
}

select {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--primary);
    background-color: transparent;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    width: 200px;
    margin-bottom: 30px;
    color: var(--font-color);
    text-align: center;
}

select:focus {
    border-color: var(--dark-accent);
}

/* table styling */

table {
    border-collapse: collapse;
    border: 1px solid;
    margin: 4px;
}

td {
    border: 1px solid;
    padding: 15px;
}

.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

caption {
    margin: 4px;
}

.flip {
    background-color: transparent;
    perspective: 1000px;
	width: 200px;
}

.flip:hover {
    cursor: pointer;
}

.flip > .inner {
	position: relative;
	left: 0px;
	top: 0px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip > .inner:hover {
    transform: rotateY(60deg);
}
.flip > .inner.flip:hover {
	transform: rotateY(120deg);
}
.flip > .inner.flip {
    transform: rotateY(180deg);
}

.flip > .inner > .front, .flip > .inner > .back {
    position: absolute;
	left: 0px;
	top: -38px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip > .inner > .back {
    transform: rotateY(180deg);
}

.flip > .inner > .back > p {
    color: var(--light-accent)
}

/* styling for word divs */

.word {
  border: 2px solid var(--light-background);
  color: var(--light-font);
  border-radius: 10px;
  padding: 4px;
  font-size: 14px;
  margin: 4px;
  padding-left: 12px;
}

.word:hover {
  transition: 300ms;
  border: 2px solid var(--dark-accent);
  color: var(--font-color);
  cursor: pointer;
}

/* checkmark styling */

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--red);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--light-accent);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--dark-accent);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  color: var(--font-color)
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

