@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary: #0ced6a;
    --light-accent: #68d696;
    --dark-accent: #08a449;
    --secondary: #0CEDDB;
    --red: #ff0000;
    --background: #121212;
    --light-background: #2b2a2a;
    --font-color: white;
    --light-font: #aabbc3;
}


body {
    padding: 0;
    background-color: var(--background);
    scroll-behavior: smooth;
    color: var(--font-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: calc(0.75em + 1vmin);
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--dark-accent);
}

.red {
    font-weight: bold;
    color: var(--red);
}

input {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--primary);
    background-color: transparent;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    width: 200px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

input:focus {
    border-color: var(--dark-accent);
}

.content {
    padding: 16px;
    padding-bottom: 80px;
}

strong {
    font-weight: bold;
    color: var(--light-accent);
}

select {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--primary);
    background-color: transparent;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    width: 200px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

select:focus {
    border-color: var(--dark-accent);
}

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: transparent;
    color: var(--font-color);
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: 0.2s;
    font-size: 17px;
}

button:hover {
    border-color: var(--dark-accent);
}

.upper {
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    margin: 4px;
}

td {
    border: 1px solid;
    padding: 15px;
}

.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

caption {
    margin: 4px;
}

.mobile-nav {
  background: rgb(25, 26, 30);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navlink {
  float: left;
  display: block;
  text-decoration: underline;
  color: #b9b6b6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

.navlink:hover {
  color: white;
}

.flip {
    background-color: transparent;
    perspective: 1000px;
	width: 150px;
}

.flip:hover {
    cursor: pointer;
}

.flip > .inner {
	position: relative;
	left: 0px;
	top: 0px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip > .inner.flip {
    transform: rotateY(180deg);
}

.flip > .inner > .front, .flip > .inner > .back {
    position: absolute;
	left: 0px;
	top: -34px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip > .inner > .back {
    transform: rotateY(180deg);
}

.flip > .inner > .back > p {
    color: var(--light-accent)
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
  font-size: 20px;
}