<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latin is Fun - Convert Verb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="Latin is Fun is a website for students who are studying Latin and want to find fun resources to help them learn"/>
    <meta name="keywords" content="latin,fun,gcse,student,puella,mensa,amo,ocr,puer,school,moneo,vulcanwm">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp" />
    <meta property="og:title" content="Latin is Fun - A website to help students learn Latin" />
    <meta property="og:description" content="Latin is Fun is a website for students who are studying Latin and want to find fun resources to help them learn" />
    <meta property="og:url" content="https://latin-is-fun.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Latin is Fun" />
    <script src="{{ url_for('static', filename='navbar.js') }}"></script>
</head>
<body>
    <nav id="navbar" class="mobile-nav">
        <script>add_navbar()</script>
    </nav>
    <div class="content">
        {% if msg != None %}
            {{msg|safe}}
        {% endif %}
        <h2>Convert Verb</h2>
        <form method="POST" action="/convert_verb">
            <label for="word">English Word:</label>
            <input placeholder="english word" name="word" required><br>
            <label for="tense">Tense:</label>
            <select name="tense">
                <option value="present">Present</option>
                <option value="imperfect">Imperfect</option>
                <option value="perfect">Perfect</option>
                <option value="future">Future</option>
                <option value="pluperfect">Pluperfect</option>
                <option value="future perfect">Future Perfect</option>
            </select><br>
            <label for="person">Person:</label>
            <select name="person">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
            </select><br>
            <label for="number">Number:</label>
            <select name="number">
                <option value="singular">Singular</option>
                <option value="plural">Plural</option>
            </select>
            <br><button>convert noun</button>
        </form>
    </div>
</body>
</html>