<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis - Convert Noun</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="{{metadata['Description']}}">
    <meta name="keywords" content="{{metadata['Tags']}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - Convert Noun">
    <meta property="og:description" content="{{metadata['Description']}}">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>
<body>
    <div class="content">
        {% if msg != None %}
            {{msg|safe}}
        {% endif %}
        <h2>Convert Noun</h2>
        <form method="POST" action="/convert_noun">
            <label for="word">English Word:</label>
            <input placeholder="english word" name="word" required><br>
            <label for="case">Case:</label>
            <select name="case">
                <option value="nominative">Nominative</option>
                <option value="vocative">Vocative</option>
                <option value="accusative">Accusative</option>
                <option value="genitive">Genitive</option>
                <option value="dative">Dative</option>
                <option value="ablative">Ablative</option>
            </select><br>
            <label for="number">Number:</label>
            <select name="number">
                <option value="singular">Singular</option>
                <option value="plural">Plural</option>
            </select>
            <br><button>convert noun</button>
        </form>
    </div>
</body>
</html>