<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis - Convert Verb</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="{{metadata['Description']}}">
    <meta name="keywords" content="{{metadata['Tags']}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - Convert Verb">
    <meta property="og:description" content="{{metadata['Description']}}">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <script src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>
<body>
    <div class="content">
        {% if msg != None %}
            {{msg|safe}}
        {% endif %}
        <h2>Convert Verb</h2>
        <form method="POST" action="/convert_verb">
            <label for="word">English Word:</label>
            <input placeholder="english word" name="word" required><br>
            <label for="tense">Tense:</label>
            <select name="tense">
                <option value="present">Present</option>
                <option value="imperfect">Imperfect</option>
                <option value="perfect">Perfect</option>
                <option value="future">Future</option>
                <option value="pluperfect">Pluperfect</option>
                <option value="future perfect">Future Perfect</option>
            </select><br>
            <label for="person">Person:</label>
            <select name="person">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
            </select><br>
            <label for="number">Number:</label>
            <select name="number">
                <option value="singular">Singular</option>
                <option value="plural">Plural</option>
            </select>
            <br><button>convert verb</button>
        </form>
    </div>
</body>
</html>