<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis - All Nouns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="Discipulis is a website for students who are studying Latin and want to find fun resources to help them learn"/>
    <meta name="keywords" content="discipulis,students,latin,fun,gcse,student,puella,mensa,amo,ocr,puer,school,moneo,vulcanwm">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp" />
    <meta property="og:title" content="Discipulis - A website to help students learn Latin" />
    <meta property="og:description" content="Discipulis is a website for students who are studying Latin and want to find fun resources to help them learn" />
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Discipulis" />
    <script src="{{ url_for('static', filename='navbar.js') }}"></script>
</head>
<body>
    <nav id="navbar" class="mobile-nav">
        <script>add_navbar()</script>
    </nav>
    <div class="content">
        {% if msg != None %}
            {{msg|safe}}
        {% endif %}
        <h2>Convert Noun</h2>
        <form method="POST" action="/convert_noun">
            <label for="word">English Word:</label>
            <input placeholder="english word" name="word" required><br>
            <label for="case">Case:</label>
            <select name="case">
                <option value="nominative">Nominative</option>
                <option value="vocative">Vocative</option>
                <option value="accusative">Accusative</option>
                <option value="genitive">Genitive</option>
                <option value="dative">Dative</option>
                <option value="ablative">Ablative</option>
            </select><br>
            <label for="number">Number:</label>
            <select name="number">
                <option value="singular">Singular</option>
                <option value="plural">Plural</option>
            </select>
            <br><button>convert noun</button>
        </form>
    </div>
</body>
</html>