<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="{{metadata['Description']}}">
    <meta name="keywords" content="{{metadata['Tags']}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - A website to help students learn Latin">
    <meta property="og:description" content="{{metadata['Description']}}">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>
<body>
    <div class="content">
        <h1>Discipulis</h1>
        <p>Welcome to Discipulis.</p>
        <p>Here you can be tested on latin nouns and verbs.</p>
        <p>You can also use the converters to convert nouns and verbs from english to latin</p>
        <a href="/all_nouns">All Nouns</a><br>
        <a href="/all_verbs">All Verbs</a><br>
        <a href="/convert_verb">Convert verb from english to latin</a><br>
        <a href="/convert_noun">Convert noun from english to latin</a><br>
    </div>
</body>
</html>