<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis - All Nouns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="Discipulis is a website for students who are studying Latin and want to find fun resources to help them learn"/>
    <meta name="keywords" content="discipulis,students,latin,fun,gcse,student,puella,mensa,amo,ocr,puer,school,moneo,vulcanwm">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp" />
    <meta property="og:title" content="Discipulis - A website to help students learn Latin" />
    <meta property="og:description" content="Discipulis is a website for students who are studying Latin and want to find fun resources to help them learn" />
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Discipulis" />
    <script src="{{ url_for('static', filename='navbar.js') }}"></script>
</head>
<body>
    <nav id="navbar" class="mobile-nav">
        <script>add_navbar()</script>
    </nav>
    <div class="content">
        <h2>{{word}}: {{latin_form}}</h2>
        <p>Click the cells to show/hide the latin words</p>
        <button onclick="table_hide_all()">Hide all cells</button>
        <button onclick="table_show_all({{table}})">Show all cells</button>
        <div class="tables">
            {% for number in table.keys() %}
                <table id="{{number}}">
                    <caption class="upper">{{number}}</caption>
                    {% for case in table[number].keys() %}
                        <tr>
                            <td class="upper">{{case}}</td>
                            <td onclick="table_click('{{number}}:{{case}}', {{table}})" id="{{number}}:{{case}}"><strong>{{table[number][case]}}</strong></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
        {% if id != None %}
            <script>
                table_hide_all()
                document.getElementById("{{id}}").click();
            </script>
        {% endif %}
    </div>
</body>
</html>