<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Discipulis - {{word}}</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="{{metadata['Description']}}">
    <meta name="keywords" content="{{metadata['Tags']}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - {{word}}">
    <meta property="og:description" content="{{metadata['Description']}}">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>

<body>
    <div class="content">
        <h2>{{word}}: {{latin_form}}</h2>
        <p>Click the cells to show/hide the latin words</p>
        <button id="hide">Hide all cells</button>
        <button id="show">Show all cells</button>
        <button onclick="test_mode_on()">Test Mode On</button>
        <div class="tables">
            {% for number in table.keys() %}
            <table id="{{number}}">
                <caption class="upper">{{number}}</caption>
                {% for case in table[number].keys() %}
                <tr>
                    <td class="upper">{{case}}</td>
                    <td class="flip" id="{{number}}:{{case}}" data-hidden="{{table[number][case]}}">Click to reveal</td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>
</body>

</html>