<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latin is Fun - {{table['singular']['nominative']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="Latin is Fun is a website for students who are studying Latin and want to find fun resources to help them learn"/>
    <meta name="keywords" content="latin,fun,gcse,student,puella,mensa,amo,ocr,puer,school,moneo,vulcanwm">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp" />
    <meta property="og:title" content="Latin is Fun - A website to help students learn Latin" />
    <meta property="og:description" content="Latin is Fun is a website for students who are studying Latin and want to find fun resources to help them learn" />
    <meta property="og:url" content="https://latin-is-fun.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Latin is Fun" />
</head>
<body>
    <div class="content">
        <h2>{{word}}: {{latin_form}}</h2>
        <div class="tables">
            {% for number in table.keys() %}
                <table>
                    <caption class="upper">{{number}}</caption>
                    {% for case in table[number].keys() %}
                        <tr>
                            <td class="upper">{{case}}</td>
                            <td><strong>{{table[number][case]}}</strong></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
</body>
</html>