<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Discipulis - {{word}}</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="{{metadata['Description']}}">
    <meta name="keywords" content="{{metadata['Tags']}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - {{word}}">
    <meta property="og:description" content="{{metadata['Description']}}">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>

<body>
    <div class="content">
        <h2>{{word}}: {{latin_form}}</h2>
        <p>Click the cells to show/hide the latin words</p>
        <button id="hide">Hide all cells</button>
        <button id="show">Show all cells</button>
        <button onclick="test_mode_on()">Test Mode On</button>
        <div class="tables">
            {% for tense in table.keys() %}
            <table id="{{tense}}">
                <caption class="upper">{{tense}}</caption>
                {% for type in table[tense].keys() %}
                <tr>
                    <td class="upper">{{type}}</td>
                    <td class="flip" id="{{tense}}:{{type}}" data-hidden="{{table[tense][type]}}">Click to reveal</td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>
</body>
</html>