<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latin is Fun - {{table['present']['1st singular']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="content">
        <h2>{{word}}: {{latin_form}}</h2>
        <div class="tables">
            {% for tense in table.keys() %}
                <table>
                    <caption class="upper">{{tense}}</caption>
                    {% for type in table[tense].keys() %}
                        <tr>
                            <td class="upper">{{type}}</td>
                            <td><strong>{{table[tense][type]}}</strong></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
</body>
</html>