<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis - {{word}}</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description" content="Discipulis is a website for students who are studying Latin and want to find fun resources to help them learn">
    <meta name="keywords" content="discipulis,verbs,nouns,convert,students,latin,fun,gcse,student,puella,mensa,amo,ocr,puer,school,moneo,vulcanwm">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - A website to help students learn Latin">
    <meta property="og:description" content="Discipulis is a website for students who are studying Latin and want to find fun resources to help them learn">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <script src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>
<body>
    <div class="content">
        <h2>{{word}}: {{latin_form}}</h2>
        <p>Click the cells to show/hide the latin words</p>
        <button onclick="table_hide_all()">Hide all cells</button>
        <button onclick="table_show_all({{table}})">Show all cells</button>
        <button onclick="test_mode_on({{table}})">Test Mode On</button>
        <div class="tables">
            {% for tense in table.keys() %}
                <table id="{{tense}}">
                    <caption class="upper">{{tense}}</caption>
                    {% for type in table[tense].keys() %}
                        <tr>
                            <td class="upper">{{type}}</td>
                            <td class="flip" id="{{tense}}:{{type}}" data-hidden="{{table[tense][type]}}">Click to reveal</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
        {% if id != None %}
            <script>
                table_hide_all();
                document.getElementById("{{id}}").click();
                document.getElementById("{{tense}}").scrollIntoView();
            </script>
        {% endif %}
    </div>
</body>
</html>