<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discipulis - {{quiz_set['Name']}}</title>
    <meta name="google-site-verification" content="00KFI7rPt-LJU_6e_Su0iRLwLcwvbMvKoibRuSIfVNs">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="description"
          content="{{metadata['Description']}}">
    <meta name="keywords"
          content="{{metadata['Tags']}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="WebApp">
    <meta property="og:title" content="Discipulis - {{quiz_set['Name']}}">
    <meta property="og:description"
          content="{{metadata['Description']}}">
    <meta property="og:url" content="https://discipulis.vulcanwm.repl.co">
    <meta property="og:site_name" content="Discipulis">
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <script src="{{ url_for('static', filename='navbar.js') }}" async></script>
</head>
<body>
<div class="content">
    <h2>{{quiz_set['Name']}}</h2>
    <span>{{quiz_set['Plays']}} &#9654;&#65039;</span>
    <span><span class="red">!!!</span> {{quiz_set['Priority']}}</span>
    <p>This set contains <strong>{{quiz_set['Contains']}}</strong></p>
    <button onclick="window.location.href='/start_quiz/{{quiz_set['_id']}}'">start quiz settings</button>
    <h3>All Vocab:</h3>
    {% for word in quiz_set['Words'] %}
        <div class="word" onclick="window.open('/english_{{quiz_set['Words'][word]}}/{{word}}', '_blank')">
            {% if "-" in word %}
                {% set clean_word = word.split('-')[0] %}
            {% else %}
                {% set clean_word = word %}
            {% endif %}
            <p>{{clean_word}}: {{quiz_set['Words'][word]}}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>